table {
    font-size: 1em;
}

table td {
    vertical-align: top;
    line-height: 1.4em;
    padding-right: 1em;
}

h1, h2, h3, h4, h5 {
    line-height: 1.4em;
    font-weight: normal;
}

h3, h4, h5 {
    padding: 10px 0 0 0;
    margin: 0;
}

h4, h5 {
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    padding: 20px 0 0 0;
}

h2.subtitle {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1em;
}

sup {
    line-height: .5em;
}

ul {
    margin-top: 0px;
    padding-left: 1em;
}

/* Top menu */

/*#menu {
    height: 24px;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid #fff;
}

#menu a {
    display: block;
    float:left;
    width: auto;
    height: 21px;
    padding: 3px 10px 0 10px;
    text-decoration: none;
    color: #fff;
}

#menu a:hover, #menu .selected {
    color: #fff;
}*/
/* menu end */


#header p {
    padding: 0px;
}

#header h1, #header h2 {
    font-weight: 700;
}

#main {
    line-height: 1.5em;
}

#backlink {
    float: right;
}

.info_bar {
    background-color: transparent;
}

.toplink {
    float: right;
    margin-top: 15px;
}

.new {
    background-color: #ffff99;
}

.hr {
    border-top: 1px solid #999;
    width: 100%;
    height: 1px;
}

.p_subheading {
    margin-bottom: 0em;
}

.ms_item h4 {
    padding: 0;
}

.movement_heading {
    margin-top: 1em;  
    font-size: 1.4 em;
}

.section_heading {
    padding: 0;
    float: left;
}

.bibl_record_short {
    margin-top:0em;
}

.change_language {
    float: right;
}

.info_bar .tools {
    padding-left: 10px;
}

.info_bar .tools img {
    vertical-align: text-top;
}

.fold {
    margin-top:.5em;
}

.fold .section_heading span {
    cursor : pointer;
}

.folded_content {
    padding-left : 14px;
    cursor: default;
}


.collapsible {
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #777;
}

button:focus-visible {
    outline:2px solid #0054AE;
    outline-offset:2px;
}

.collapsible .alternative_language {
    font-size : .8em;
    color: #eee;
}


.collapsible_content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out; /* does not work with max-height: fit-content, though; consider using display:grid, cf. https://theosoti.com/blog/height-transition/  */
  border: 2px solid #555;
  border-top: none;
  margin-top: -2px;
}

.collapsible_content:after {
  content: "\00A0";
}

.collapsible.active + .collapsible_content {
  max-height: fit-content;
  overflow: visible;
  display: block;
  padding-top: 20px;
}

.collapsible:not(.active) + .collapsible_content * {
    display: none;
}


.collapse-icon-container {
  display: inline-block;
  height: 10px;
  overflow: hidden;
}

.collapse-icon-container svg {
    fill: #fff;
}


.active .collapse-icon-container svg {
    margin-bottom: 10px;
    margin-top: -10px;
}


.incipit_lowres {
    margin-top : 5px;
    margin-bottom : 10px;
}

.invisible {
    color: transparent;
}

.list_block {
    display: table;
    margin-top: 0.5em;
    max-width: 1000px;
}

.relation_list {
    display: table-row;
}

.relation_list_label, .relations {
    display: table-cell;
    padding: .5em .5em 0 0;
    line-height: 1.6em;
}

#main a:hover {
    background-color: #eef;
}

#main a:active {
    outline: 1px dotted #888;
    outline-offset: 2px;
}

#main a.work_number_reference {
    border: 1px solid #666;
    padding: 0px 2px;
    font-size: .85em;
    margin: 1px 0;
    border-radius: 4px;
}

#main a.work_number_reference:link, 
#main a.work_number_reference:active, 
#main a.work_number_reference:visited, 
#main a.work_number_reference:hover {
    text-decoration: none;
    white-space: nowrap;
}

#main a.work_number_reference:hover {
    background-color: #ddd;
}


.rism {
    font-style: italic;
}


/* CSS for text pages */

body.text #main p, 
body.text #main div, 
body.text #main h2,
body.text #main h3,
body.text #main h4,
body.text #main ul
{
    max-width: 45em;
    line-height: 1.5em;
}

body.text #main h2 a,
body.text #main h3 a
{
    text-decoration:none;
    cursor: default;
}

body.text #main h2 {
    margin-top: .5em;
}

body.text #main h3 {
    margin-top: .5em;
}

body.text #main ul ul
{
    padding: 0 0 0 2em;
}

body.text #main li {
    margin-top: .5em;
}

body.text #main ul.bullet
{
    list-style-type: disc;
    padding-left: 1.2em;
}

body.text #toc li {
    margin: 1em 0 0 1.2em;
    list-style-image: url('../images/html_link.png');
}

body.text #toc li a {
    text-decoration: none;
    display: inline-block;
    min-height: 24px;    
}

body.text #toc li a:hover {
    text-decoration: underline;
}

body.text #toc ul li {
    margin: 0;
    height: 26px;
}

body.text #colophon {
    display: table;
}

body.text #colophon p {
    display: table-row;
}

body.text #colophon p span{
    display: table-cell;
    padding: 5px 10px 0 0;
}
/* end text pages */

/* CSS for the appendix */

body.text #main.appendix p, 
body.text #main.appendix div, 
body.text #main.appendix h2,
body.text #main.appendix h3,
body.text #main.appendix h4,
body.text #main.appendix ul
{
    max-width: 100%;
}

body.text .appendix #toc {
    margin-top: 1em;
}

body.text .appendix #toc li {
    margin-top: 0;
}

.appendix p {
    margin : 0 0 10px 0;
}

.appendix .list_section {
    display:table;
    display:inline-table;
    page-break-inside: auto;
    width: 100%;
}

.appendix .list_section div {
    display: table-row;
    page-break-inside: avoid;
}

.appendix .list_section div p,
.appendix .list_section div div {
    display:table-cell;
    padding: .2em 1em .4em 0;
}

.appendix .list_section div div {
    width: 98%;
}

.appendix .list_section div p.work_number {
    white-space: nowrap;
    width: 6em;
}

body.text #main.appendix .list_section li {
    margin-top: 0;
}
/* end appendix */


#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Stack order */
  cursor: pointer; /* Add a pointer on hover */
}

#overlay * {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

img.link_indicator {
    margin-right: 5px;
}

img.link_indicator + * {
    margin-right: 15px;
}

a.anchor {
    text-decoration: none;
}

a.abbr {
    border-bottom: 1px dashed #666;
    cursor: help;   
    text-decoration: none;
    color: inherit;
}

a:hover.abbr .expan {
    visibility:visible;
}

.expan {
    display:inline;
    position: absolute;
    visibility:hidden;
    white-space: normal;
    text-decoration:none;
    color: black;
    background-color:#fff;
    padding: 1px;
    padding-bottom: 5px;
    z-index:250;
    padding: 8px 4px 4px 4px;
    width: auto;
    max-width: 300px;
    margin-top: 15px;
    margin-left: -5px;
    border: 1px solid #fff;
    font-weight:normal;
    font-style: normal;
    text-align: left;
    box-shadow: 8px 8px 20px 0px #666;
    border-radius: 4px;
    /* For non-CSS3 FireFox */
    -moz-box-shadow: 8px 8px 20px 0px #666;
    -moz-border-radius: 4px;
    /* For MSIE 6-8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#666666')"; 
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#666666'); 
}

a.ftnref {
    font-size: .8em;
    vertical-align: super;
    text-decoration: underline;
    line-height: 1em;
    border-bottom: none;
}

a.ftnref span.expan {
    font-size: 1.25em;
    line-height: 1.5em;
}

hr.main_separator {
    margin: 60px 0 20px 0;
    border: 2px dashed #999;
}

div.perfmedium p { 
    margin-top: 0;
}


ul.single_movement {
    list-style-type: none;
    border-left: none;
    padding-left: 44px;
}

.movement_list {
    padding-top: 20px;
    /*list-style-type: "*";*/
}

.movement_list li {
    padding-left: 30px;
    margin-bottom: 20px;
}

.movement_list p {
    margin: 0;
}

a img.incipit:hover {
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    transform: translate(-2px, -2px);    
    transition: box-shadow .2s;
    transition: transform .1s;
}

.incipit_img_container {
    display: inline-block;
}

#main a.incipit_img_container:hover {
    background-color: #fff;
    background-color: transparent;
}

.meter {
    font-family: 'times new roman', times, serif; 
    line-height: 1em;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: auto;
}

.meter_count, .meter_unit {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.meter_count {
    text-decoration: underline;
}

.meter_unit {
    vertical-align: top;
}

.alternative_language, .classification, .colophon {
    font-size : .9em;
    color: #555;
}

.colophon a:link, .colophon a:visited, .colophon a:active {
    color: #555;
}

.colophon_heading {
    font-weight: bold;
}

.revision_history td, .revision_history th {
    color: #555;
    text-align: left;
}

.revision_history .p_heading {
    font-weight: normal;
}

.revision_history p {
    margin-top: 0;
}

.settings {
    font-family: arial, helvetica, sans-serif;
    font-size: .8em;
    float:right;
    clear: right;
    width: auto;
    margin-top: 5px;    
}

table.performances tr td, table.letters tr td {
    padding: 0 0 .4em 0;
    margin: 0;
    line-height: 1.2em;
}

table.letters tr td.date_col {
    padding: 0 0 .4em 0;
    white-space:nowrap;
}

div.source {
    padding-bottom : 10px;
}

div.source p {
    margin-top : 0;
    padding: 0;
}

table.source_component_list td {
    padding-top: 10px;
    vertical-align: top;
}

table.source_component_list td h3, 
table.source_component_list td h4,
table.source_component_list td h5 {
/* H3, H4, H5 padding set to 0 for vertical alignment with label cell */    
    padding-top: 0px;
}

table.source_component_list td.label_cell {
    white-space: nowrap;
}

/* SPECIAL SYMBOLS */

/* Embedded fonts */
/* Unicode music symbols font */
@font-face {
	font-family: 'Bravura Text';
	src: url('fonts/BravuraText.eot');
	src: local('Bravura Text'), 
	       url('fonts/BravuraText.eot?#iefix') format('embedded-opentype'),
	       url('fonts/BravuraText.woff') format('woff'), 
	       url('fonts/BravuraText.svg#BravuraText') format('svg');
} 

/* Runic font */
@font-face {
	font-family: 'Hnias';
	src: url('fonts/Hnias.eot');
	src: local('Hnias Regular'), local('Hnias'), 
	       url('fonts/Hnias.eot?#iefix') format('embedded-opentype'),
	       url('fonts/Hnias.ttf') format('truetype'), 
	       url('fonts/Hnias.woff') format('woff'), 
	       url('fonts/Hnias.svg#Hnias') format('svg');
} 
/* End embedded fonts */

.accidental {
    position: relative;
    top: 0em;
    font-family: "Arial Unicode MS", sans-serif; 
    font-size:1em;
    padding-left:.0em;
    padding-right:.1em;
    padding-top: 0em;
    padding-bottom: .3em;
}

.meter {
    font-family: 'times new roman', times, serif; 
    font-size: .9em;
    line-height: 1em;
    font-weight: bold;
}

.runes {
    font-family: Hnias, Junicode, sans-serif, serif;
}

.music_symbols {
    font-family: "Bravura Text", "Arial Unicode MS", sans-serif, serif;
    /*line-height: .5em;*/
    font-size: 1.2em;
}

.time_signature {
    position:relative;
    top: -.18em;
    font-size: 2em;
}

/* css for help pop-ups */
a.help {
    text-decoration : none;
    text-align : left;
    vertical-align : text-top;
    color : #339933;
    background-color : #ffffff;
    border : 1px solid #226622;
    font-weight : bold;
    padding-top : 0px;
    padding-left : 2px;
    padding-right : 2px;
    padding-bottom : 1px;
    font-size : .8em;
    -moz-border-radius : .3em .3em .3em .3em;
    border-radius-topright : .3em;
    border-radius-topleft : .3em;
    border-radius-bottomright : .3em;
    border-radius-bottomleft : .3em;
}
a.help span.comment {
    display : inline;
    position : absolute;
    visibility : hidden;
    white-space : normal;
    text-decoration : none;
    color : black;
    background-color : #eeffee;
    padding : 1px;
    z-index : 10;
    padding : 4px;
    width : 200px;
    margin-top : -10px;
    margin-left : 5px;
    border : 1px solid #226622;
    font-weight : normal;
    font-size : 1.2em;
    -moz-border-radius : .3em .3em .3em .3em;
    border-radius-topright : .3em;
    border-radius-topleft : .3em;
    border-radius-bottomright : .3em;
    border-radius-bottomleft : .3em;
}
a:hover.help span.comment {
    visibility : visible;
}


/* Print style rules */

@media print {

    .noprint {
        display : none;
    }
    
    body, #header, #footer, #all {
        color: #000;
        background-color: #fff;
    }

    body {
        font-size: 10pt;
    }
    
    h1 { font-size: 16pt; }

    h2 { font-size: 13pt; }

    h3 { font-size: 11pt; }

    h4 { font-size: 10pt; }
    
    p {
        margin-top : 0.2em;
        margin-bottom : 0em;
    }
    .p_heading {
        margin-top : 0.2em;
    }
    div.source {
        padding-bottom : 0.2em;
    }
    div.source p {
        margin-top : 0.2em;
    }
    
    .colophon, #footer {
        font-size: .8em;
    }
    
    a.abbr {
        border-bottom: none;
    }

}
