h2 {
    font-size: 1.3em;
}

input, select {
    background-color: #fff;
    color: #000;
    border: 0px;
    padding: 2px;
    margin-right: 5px;
}

div.spacer {
    display: table-cell;
}

div.spacer div {
    width: 24px;
}

div.error {
    background-color:#fdd;
    border: 1px solid #faa;
    font-size: 8pt; 
    padding: 4px;
}

/* CSS for the filter area */

#filter_container {
    display: table-cell;
    vertical-align: top;
    width: 250px;
}

.filter {
    padding: 10px;
    background-color: #d8d8d8;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
    border: none;
    margin: 0;
}

div.filter_block {
    width: auto;    
}

.query_input {
    width: 232px;
}

div.search_submit {
    margin: 5px 0 0 0;
}

.search_submit input:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

div.filter_block .label {
    font-weight: bold;
    line-height: 2em;
    margin: 5px 0 0 0;
} 

div.filter_block select {
    max-width: 250px;
}

#notbefore,
#notafter {
    width : 40px;
    font-size: 9pt;
}

#notbefore {
    margin-right : 5px;
}

#notafter {
    margin-left : 5px;
}

div.genre_filter input[type=text] {
    background-color: #fff;
}

div.genre_filter .level1 {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    display: inline-block;
}

div.genre_filter input[type=text] {
    background-color: #fff;
}

/* radio buttons and checkboxes */

div.genre_filter input[type=checkbox],
div.genre_filter input[type=radio   ],
div.genre_filter button {
    background-color: transparent;
    color: #000;
    border: 0px;
    margin: 6px 0 0 6px;
    text-align: left;
}

/*label {
    cursor: pointer;
}*/

/* for newer browsers: */

input[type=checkbox]:not(old),
input[type=radio   ]:not(old)
div.genre_filter button:not(old) {
  width   : 0;
  margin  : 0;
  padding : 0;
  opacity : 0;
  position: absolute;
  
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label,
div.genre_filter button:not(old) {
  display      : inline-block;
  margin: 2px 0 2px 0;
  padding : 2px 0 2px 4px;
  line-height  : 1.5em;
  font-size: 10.5pt;
}

input[type=radio   ]:not(old) + label,
div.genre_filter button:not(old) {
  padding : 2px 0 1px 25px;
  text-indent: -20px;
  width: 234px;
  margin: 1px 0;
}

input[type=checkbox]:not(old) + label {
  background   : url('images/unchecked.png') no-repeat 0 0;
  padding : 2px 0 2px 24px;
}

input[type=checkbox]:not(old) + label:hover,
input[type=radio   ]:not(old) + label:hover,
div.genre_filter button:not(old):hover {
    background-color: #fff;
}

input[type=checkbox]:not(old):checked + label{
  background   : url('images/checked.png') no-repeat 0 0;
}

input[type=radio]:not(old):checked + label,
div.genre_filter .selected {
  background-color: #ffe;
}

div.genre_filter span.genre_indicator {
    width: 12px;
    height: 12px;
    border-radius: 8px;
    border: 1px solid #555;
    display: inline-block;
    margin: 1px 5px 0 0;
    vertical-align: text-top;
}
/* end radio buttons and checkboxes */

.filter_block.anthologies, .filter_block.search_button {
    margin: 20px 0 0 0;
}

#search_submit {
    width: 250px;
    height: 26px;
    background: url('images/search.png') no-repeat 0 0;
}

#search_submit:hover {
    background: url('images/search_hover.png') no-repeat 0 0;
    border-color: #999;
}

/* CSS for the "clear filter" elements */

.filter_elements {
    padding: 10px 0 0 0;
    /* make the div contain the floated elements inside */
    overflow: auto;
    display: flow-root; /* effectively the same as overflow: auto, but possibly not supported by all browsers yet */
}

#main a.filter_element {
  font-size: 12px;
  line-height: 1em;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  margin: 0 5px 5px 0;
  padding: 3px 21px 4px 7px;
  background: url('images/filter_remove.png') no-repeat right 0 #666;
  float: left;
  border-radius: 4px;
}

#main a.filter_element:hover {
  background-color: #be331a;
}

#main .filter_elements a.reset {
  background-color: #be331a;
}


/* CSS for the paging */

.paging_div {
    clear: right;
    float:left;
}

.paging_div a:link, .paging_div a:active, .paging_div a:visited, .paging_div a:hover {
    text-decoration: none; 
    width: 20px;
}  

.paging {
    color: #000;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 32px;
    text-decoration: none;
    margin: -5px 2px 0 0;
}

.paging img {
    width: 16px;
    vertical-align: center;
}

.paging svg {
    fill: #000;
    stroke: #000;
}

.paging:hover svg {
    fill: #fff;
    stroke: #fff;
}


#total_pages {
    display: inline-block;
}

#sortForm, #itemsPerPageForm {
    margin: 0;
}

/* CSS for the result list */

#itemsPerPageForm {
    float: right;
}

div.results {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.result_row a {
    text-decoration: none;
    color: inherit;
}

.result_row .composer {
    font-size: .85em;
    padding: 2px 5px;
}

.result_row .title {
    font-size: 12pt;
    padding: 2px 5px 2px 5px;
}

.result_row .list_subtitle {
    font-size: .9em;
}

.result_row .date {
    font-size: 9pt;
    float: right;
    padding: 2px 5px;
}

.result_table {
    border: none;
    text-align: left;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    vertical-align: top;
    display: inline-block;
    width: 400px;
    margin: 15px 15px 0 0;
    padding: 0;
    cursor: pointer;
    transition: box-shadow .2s;
    transition: transform .1s;
}


.result_row.top {
    width: inherit;
    background-color: rgba(255, 255, 255, .05);
}

/*.result_table:hover .result_row.top {
    background-color: #be331a;
}*/

.result_row.main {
    background-color: #fff;  
}

.result_table:hover {
    box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
    transform: translate(-2px, -2px);
}


.result_cell, .list_id {
    vertical-align: top;
}

.result_cell .result_content {
    position: relative;
}

/* incipit images */


.incip_wrap {
    width: fit-content;
    padding-left: 5px;
    padding-bottom: 5px;
}

.incip_scaled {
    display: none;
/*    opacity: 0.95;*/
}

.info_bar {
    float: right;
    padding: 4px 0 0 0;
    font-size: 6px;
    width: fit-content;
    height: 16px;
}

.info_bar .expan {
    font-size: 10pt;
}

.genre_list {
    float: right;
    margin: 0 0 0 4px;
}

.genre_cell {
    vertical-align: bottom;
}

.info_bar div.genre_list .genre_indicator {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

.result_table .list_id {
    white-space: nowrap;
    padding: 2px 8px 2px 8px;
    color: #fff;
    font-size: 12pt
}

.alternative_language {
    font-size : .95em;
    color: #444;
}

/* css for help and other pop-ups */

div.popup button {
    text-align:left;
    width: 100%;
    min-height: 26px; 
}

a.help {
    position: absolute;
    margin: 1px 0 0 5px;
    text-decoration: none;
    text-align: center;
    color: #888888;
    background-color: #ffffcc;
    font-weight: bold;
    padding: 0 0 0 1px;
    font-size:.8em;   
    cursor: help;
    border-radius: 8px;
    width: 14px;
    /* For non-CSS3 FireFox */
    -moz-border-radius: 8px;    
}

a.help_plain {
    cursor: help;
}

a.help span.comment, a.help_plain span.comment {
    display:inline;
    text-align: left;
    position: absolute;
    visibility:hidden;
    white-space: normal;
    text-decoration:none;
    color: black;
    background-color:#f6f5e5;
    padding: 1px;
    z-index:250;
    padding: 4px;
    width: 200px;
    margin-top: 20px;
    margin-left: -5px;
    border: 1px solid #ddd;
    font-weight:normal;
    box-shadow: 5px 5px 30px #333;
    /* For non-CSS3 FireFox */
    -moz-box-shadow: 5px 5px 30px #333;
    /* For MSIE 6-8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#333333')"; 
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#333333'); 
}

a.help span.comment {
    font-size: 1.2em;
}

a:hover.help span.comment, a:hover.help_plain span.comment  {
    visibility:visible;
}

form.search a.help span.comment {
    width: 400px;
    margin-left:-200px;
}


a.help .help_table {
    display: table;
}

a.help .help_example {
    display: table-row;
}

a.help .help_label, a.help .help_value {
    padding-top: 6px;
    display: table-cell;
}

form.search a.help .help_label {
    padding-right: 8px;
    white-space: nowrap;
    font-family: courier, fixed, monospace;
}

a.abbr {
    border-bottom: 1px dashed #666;
    cursor: help;   
    text-decoration: none;
    color: #000;
}

.genre_list a.abbr {
    border: none;
}

.genre_list a:link, .genre_list a:active, .genre_list a:visited, .genre_list a:hover {
    text-decoration: none;
}

a:hover.abbr .expan {
    visibility:visible;
}

.expan {
    position: absolute;
    right: 5px;
    visibility:hidden;
    /*white-space: normal;*/
    text-decoration:none;
    color: black;
    background-color:#ddd;
    padding: 1px;
    padding-bottom: 5px;
    z-index:250;
    padding: 8px 4px 4px 4px;
    width: auto;
    /*max-width: 300px;*/
    margin-top: 15px;
    margin-left: -50px;
    border: 1px solid #ddd;
    font-weight:normal;
    font-style: normal;
    text-align: left;
    box-shadow: 5px 5px 30px #333;
    /* For non-CSS3 FireFox */
    -moz-box-shadow: 5px 5px 30px #333;
    /* For MSIE 6-8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#333333')"; 
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#333333'); 
}


/* genre color codes */

/* main categories */

.stage_music, .instrumental_music, .vocal_music, .text
                            { background-color: #fff;
                              color: #000; }

/*.stage_music                { background-color: #812970;
                              color: #fff; }
.instrumental_music         { background-color: #5b8896;
                              color: #fff; }
.vocal_music                { background-color: #c9a044;
                              color: #fff; }*/
                              

/* sub-categories */
.opera                      { background-color: #ff459d;
                              color: #fff; }

.ballet                     { background-color: #ff83c9;;
                              color: #fff; }

.incidental_music           { background-color: #9f53dd;
                              color: #fff; }
                              
.melodrama                   { background-color: #7169ff;
                              color: #fff; }              

.symphony                   { background-color: #4c89fe;
                              color: #fff; }

.concerto                   { background-color: #01aef5;
                              color: #fff; }

.other_orchestral_music     { background-color: #00b7c0;
                              color: #fff; }

.chamber_music              { background-color: #01df87;
                              color: #fff; }

.piano_music, .organ_music,
.music_for_one_instrument   { background-color: #55de01;
                              color: #fff; }

.music_for_vocal_soloists_and_instruments_with_or_without_choir  
                            { background-color: #f3fb53;
                              color: #000; }

.choral_music_with_instruments 
                            { background-color: #ffb147;
                              color: #fff; }

.a_cappella_choral_music    { background-color: #ff7647;
                              color: #fff; }

.song                       { background-color: #fc495e;
                              color: #fff; }

/* Print style rules */
@media print {

    .filter, 
    .spacer, 
    .nav_bar form, 
    .nav_bar p,
    .filter_elements,
    #menu { 
        display: none !important;
    }

    #content_box div.results {
        display: block;
    }
    
    .result_table  {
        border: 0;
    }
    
    .genre_list {
        display: none;
    }

    .result_row .title,  
    .result_row .composer,
    .info_bar .list_id,
    .result_table .list_id {
        padding: 2px;
        color: #000;
        background-color: #fff;
    }
    
    a:link, a:visited, a:active {
        color: #000;
        text-decoration: none;
    }

}