/* Collection-specific colors */
body {
    background-color: #664426;
}

/* Header and footer */
#all {
    background-color: #664426;
}

/* Top menu */
#menu a:hover, #menu .selected {
    background-color: #9c7751;
}


/* Genre color codes */
/* main categories */

.text                      { color: #000; }

/* sub-categories */


/* sub-categories */

/* green */
.opera                      { background-color: #17e691;
                              color: #fff; }

.ballet                     { background-color: #33cc86;
                              color: #fff; }

.incidental_music           { background-color: #217e53;
                              color: #fff; }
                              
.melodrama                   { background-color: #259360;
                              color: #fff; }              
                              
/* blue */
.symphony                   { background-color: #39c1f9;
                              color: #fff; }

.concerto                   { background-color: #81daff;
                              color: #fff; }

.other_orchestral_music     { background-color: #2b97c4;
                              color: #fff; }

.chamber_music              { background-color: #2458a6;
                              color: #fff; }

.piano_music, .organ_music,
.music_for_one_instrument   { background-color: #595aff;
                              color: #fff; }


/* red */
.music_for_vocal_soloists_and_instruments_with_or_without_choir  
                            { background-color: #f9adb2;
                              color: #000; }

.choral_music_with_instruments 
                            { background-color: #dd3f4a;
                              color: #fff; }

.a_cappella_choral_music    { background-color: #c33640;
                              color: #fff; }

.song                       { background-color: #92232c;
                              color: #fff; }


/* texts */
/* brown */
.music_theory_analysis_and_criticism
                           { background-color: #f8fc53;
                              color: #000; }

.poetry
                           { background-color: #ffcd54;
                              color: #000; }

.satirical_and_political_texts 
                           { background-color: #ff9b19;
                              color: #000; }

.translations
                           { background-color: #905407;
                              color: #000; }

.biographies_and_letters
                           { background-color: #9e7c52;
                              color: #000; }

.other_texts
                           { background-color: #9b9b9b;
                              color: #000; }

.doubtful_works
                           { background-color: #473016;
                              color: #000; }
