/* Collection-specific colors */
body {
    background-color: #866746;
}

/* Header and footer */
#all {
    background-color: #866746;
}

/* Top menu */
#menu a:hover, #menu .selected {
    background-color: #9c7751;
}
