/* Collection-specific colors */
body {
    background-color: #445566;
    /*background-color: #20354a;*/
    background-image: url('style/cnw/CN_signature_trsp.png');
    background-size: contain;
    background-position: 200 -50px;
    background-position-y: -50px;
    background-position-x: right;  
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Header and footer */
#all {
    background-color: #445566;
    background-color: #20354a;
    background: linear-gradient(120deg,rgba(32, 53, 74, .9) 0%, rgba(68, 85, 102, .9) 25%, rgba(46, 72, 102, .9) 100%);    
}


/* Top menu */
/* #menu .selected, */
#menu a:hover {
    background-color: #778899;
}

/*.result_table .list_id {  */
.result_row.top {
    /*background-color: #445566;*/
    background-color: #20354a;
    background-color: rgba(32, 53, 74, .8);
}

